<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PROJECT TITLE</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<header class="header">
		<div class="centered">
			<a href="about.html" class="header__about-project">О ПРОЕКТЕ</a>
			<h3 class="header__project-title">PROJECT TITLE</h3>
		</div>
	</header>
	<div class="jumbotron">
		<h1>ТЕСТЫ ЕГЭ ПО МАТЕМАТИКЕ</h1>
	</div>
	<main class="app-container centered">
		
		<section class="ready-variants">
			<h2 class="title">Готовые варианты</h2>

			<p class="hint">
				Выбери любой из подготовленных нами вариантов и начинай тестирование по первой части экзамена
			</p>
			
			<div class="variants-container">
				<div class="ready-variants__variant no-select">Вариант 1</div>
				<div class="ready-variants__variant no-select">Вариант 2</div>
				<div class="ready-variants__variant no-select">Вариант 3</div>
				<div class="ready-variants__variant no-select">Вариант 4</div>
				<div class="ready-variants__variant no-select">Вариант 5</div>
				<div class="ready-variants__variant no-select">Вариант 6</div>
			</div>

		</section>
		
		<section class="variants-generator">
			<h2 class="title">Генератор вариантов</h2>

			<p class="hint">
				Выбери, какие задания и в каком количестве войдут в вариант, регулируя количество вопросов для каждого задания
			</p>

			<div class="tasks-container">
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						1. Простейшие текстовые задачи
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						2. Чтение графиков и диаграмм
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						3. Квадратная решётка, координатная плоскость
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						4. Начала теории вероятностей
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						5. Простейшие уравнения
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						6. Планеметрия: задачи, связанные с углами
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						7. Производная и первообразная
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						8. Стереометрия
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						9. Вычислительные преобразования
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						10. Задачи с прикладным содержанием
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						11. Текстовые задачи
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						12. Наибольшее и наименьшее значение функций
					</h4>

					<div class="variants-generator__task__controller">
						<img src="minus_green.png" class="variants-generator__task__controller__dec" />
						<div class="variants-generator__task__controller__count">1</div>
						<img src="plus_green.png" class="variants-generator__task__controller__inc" />
					</div>

				</section>
			</div>

		</section>

	</main>
</body>
</html>
