<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>MAIN</title>
		<link rel="stylesheet" href="css/style_for_main.css">
	</head>
	<body>
		<div class="container">
    		<div class="inner">
        		<div class="column left-column">
        			<p>DOGES TEAM PRESENTS</p>
        			<a href="rus.html"><div class="russian_btn">Русский</div></a>
        		</div>
        		<div class="column right-column">
        			<a href="index.html"><div class="math_btn">Математика</div></a>
        			<img src="doge.png" class="bottom"></img>
        			<p class="bork">Wow such test</p>
        		</div>
    		</div>
    	</div>
	</body>
</html>