<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>RUSSIAN</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style_for_rus.css">
	<script src="build/scripts.js" defer></script>
</head>
<body>
	<header class="header">
		<div class="centered">
			<a href="about.html" class="header_enter">войти</a>
			<h3 class="header_project-title">DOGES PASS EXAMS</h3>
		</div>
	</header>
	<div class="lol">
		<h1>ТЕСТЫ ЕГЭ ПО РУССКОМУ ЯЗЫКУ</h1>
	</div>
	<main class="app-container centered">
		
		<section class="ready-variants">
			<h2 class="title">Готовые варианты</h2>

			<p class="hint">
				Выбери любой из подготовленных нами вариантов и начинай тестирование по первой части экзамена
			</p>
			
			<div class="variants-container">
				<a href="rus_test.html"><div class="ready-variants__variant no-select">Вариант 1</div></a>
				<a href="rus_test.html"><div class="ready-variants__variant no-select">Вариант 2</div></a>
				<a href="rus_test.html"><div class="ready-variants__variant no-select">Вариант 3</div></a>
				<a href="rus_test.html"><div class="ready-variants__variant no-select">Вариант 4</div></a>
				<a href="rus_test.html"><div class="ready-variants__variant no-select">Вариант 5</div></a>
				<a href="rus_test.html"><div class="ready-variants__variant no-select">Вариант 6</div></a>
			</div>

		</section>
		
		<section class="variants-generator">
			<h2 class="title">Генератор вариантов</h2>

			<p class="hint">
				Выбери, какие задания и в каком количестве войдут в вариант, регулируя количество вопросов для каждого задания
			</p>

			<div class="tasks-container">
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						1. Определение главной информации текста
					</h4>
						 <div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>
				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						2. Средства связи предложений в тексте
					</h4>

					<div class="center">
				  		<div class="input-group">
				          <span class="input-group-btn">
				              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
				                  <span class="glyphicon glyphicon-minus"></span>
				              </button>
				          </span>
				          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
				          <span class="input-group-btn">
				              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
				                  <span class="glyphicon glyphicon-plus"></span>
				              </button>
				          </span>
				      </div>
				    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						3. Определение лексического значения слова
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						4. Постановка ударения
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						5. Употребление паронимов
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						6. Морфологические нормы (образование форм слова)
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						7. Синтаксические нормы. Нормы согласования. Нормы управления
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						8. Правописание корней
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						9. Правописание приставок
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						10. Правописание суффиксов (кроме -Н-/-НН-)
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						11. Пра­во­пи­са­ние личных окон­ча­ний глаголов и суф­фик­сов причастий
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						12. Правописание НЕ и НИ
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						13. Слитное, дефисное, раздельное написание слов
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						14. Пра­во­пи­са­ние -Н- и -НН- в суффиксах
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						15. Пунктуация в сложносочиненном предложении и в предложении с однородными членами
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						16. Знаки пре­пи­на­ния в пред­ло­же­ни­ях с обособ­лен­ны­ми членами
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						17. Знаки препинания при словах и конструкциях, не связанных с членами предложения
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						18. Знаки препинания в сложноподчиненном предложении
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						19. Знаки препинания в сложных предложениях с разными видами связи
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						20. Смысловая и композиционная целостность текста
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						21. Функционально-смысловые типы речи
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						22. Лексическое значение слова
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						23. Сред­ства связи пред­ло­же­ний в тексте
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
				<section class="variants-generator__task">
					
					<h4 class="variants-generator__task__title">
						24. Языковые средства выразительности
					</h4>

					<div class="center">
						  		<div class="input-group">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-minus"></span>
						              </button>
						          </span>
						          <input type="text" name="quant[1]" class="form-control input-number" value="1" min="0" max="10">
						          <span class="input-group-btn">
						              <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
						                  <span class="glyphicon glyphicon-plus"></span>
						              </button>
						          </span>
						      </div>
						    </div>

				</section>
			</div>
			<a href="generated.html">
			<div class="generate-btn no-select" id="generate-btn">
				Сгенерировать!
			</div>
			</a>
		</section>

	</main>
</body>
</html>