<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>STATIC TEST RUS</title>
	<link rel="stylesheet" href="css/style_for_rus_test.css">
</head>
<body>
	<header class="header">
		<div class="centered">
			<a href="about.html" class="header_enter">войти</a>
			<h3 class="header__project-title">DOGES PASS EXAMS</h3>
		</div>
	</header>
	<div class="jumbotron">
		<h1>ВАРИАНТ 1</h1>
	</div>
	<main class="app-container centered">
		<section class="task">
			<h2 class="task__question">1. Ука­жи­те два пред­ло­же­ния, в ко­то­рых верно пе­ре­да­на ГЛАВ­НАЯ ин­фор­ма­ция, со­дер­жа­ща­я­ся в тек­сте. За­пи­ши­те но­ме­ра этих пред­ло­же­ний.
 			<h3>1) Для со­вре­мен­ных осве­ти­тель­ных устройств преду­смот­ре­на осо­бая си­сте­ма элек­трон­но­го контроля, ко­то­рая сбе­ре­га­ет до 30% элек­тро­энер­гии и де­ла­ет свет ровным, немерцающим.</h3>
			<h3>2) Чтобы не только экономить электроэнергию, но и устранять мерцание света, наносящее вред зрению, в современных осветительных приборах используется система электронного контроля.</h3>
			<h3>3) Мер­ца­ю­щий свет трав­ми­ру­ет ор­га­ны зрения, по­это­му се­год­ня ис­поль­зу­ют­ся со­вре­мен­ные осве­ти­тель­ные устройства.</p>		
			<h3>4) Си­сте­ма элек­трон­но­го кон­тро­ля осве­ти­тель­ных устройств поз­во­ля­ет не толь­ко эко­но­мить электроэнергию, но и устра­нять мер­ца­ние света, вред­ное для зрения.</h3>
			<h3>5) Си­сте­ма элек­трон­но­го кон­тро­ля осве­ти­тель­ных устройств, поз­во­ля­ю­щая сбе­ре­гать до 30% электроэнергии, де­ла­ет свет ровным, немерцающим, что трав­ми­ру­ет ор­га­ны зрения.</h3>
			<h4>
				(1)В боль­шин­стве со­вре­мен­ных осве­ти­тель­ных устройств преду­смот­ре­на осо­бая си­сте­ма элек­трон­но­го кон­тро­ля, она поз­во­ля­ет сбе­ре­гать до 30% элек­тро­энер­гии и де­лать свет ров­ным, не­мер­ца­ю­щим. (2)<...> осо­бен­но важно с точки зре­ния со­хра­не­ния здо­ро­вья людей. (3)Не­дав­ние ис­сле­до­ва­ния по­ка­за­ли, что мер­ца­ю­щий свет трав­ми­ру­ет ор­га­ны зре­ния.
			</h4></h2>
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
				<div class="clear"></div>
			</div>
		</section>
		<section class="task">
			<h2 class="task__question">2. Какое из приведённых ниже слов (сочетаний слов) долж­но быть на месте про­пус­ка в вто­ром предложении?
 			<h3>Во­пре­ки этому</h3>
			<h3>Наоборот,</h3>
			<h3>Кроме того,</h3>
			<h3>Поэтому</h3>
			<h3>По­след­нее</h3>
			<h4>(1)В боль­шин­стве со­вре­мен­ных осве­ти­тель­ных устройств преду­смот­ре­на осо­бая си­сте­ма элек­трон­но­го кон­тро­ля, она поз­во­ля­ет сбе­ре­гать до 30% элек­тро­энер­гии и де­лать свет ров­ным, не­мер­ца­ю­щим. (2)<...> осо­бен­но важно с точки зре­ния со­хра­не­ния здо­ро­вья людей. (3)Не­дав­ние ис­сле­до­ва­ния по­ка­за­ли, что мер­ца­ю­щий свет трав­ми­ру­ет ор­га­ны зре­ния.</h4>
			</h2>
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
			</div>
		</section>
		<section class="task">
			<h2 class="task__question">3. Про­чи­тай­те фраг­мент сло­вар­ной ста­тьи, в ко­то­рой при­во­дят­ся зна­че­ния слова РОВНЫЙ. Опре­де­ли­те зна­че­ние, в ко­то­ром это слово упо­треб­ле­но в пер­вом (1) пред­ло­же­нии тек­ста. Вы­пи­ши­те цифру, со­от­вет­ству­ю­щую этому зна­че­нию в при­ведённом фраг­мен­те сло­вар­ной ста­тьи.</h2>
			<dl>
				<dt>РО́ВНЫЙ, -ая, -ое; -вен, -вна, -вно, -вны и -вны.</dt>
					<dd><p>1. Гладкий, прямой, не име­ю­щий возвышений, утолщений, изгибов. Ров­ная местность. До­ро­га идёт ровно (нареч.). Р. ряд зубов. Ров­ная пряжа.</p>
					<p>2. Равномерный, спокойный. Р. пульс. Ровно (нареч.) дышать. Р. тон, голос.</p>
					<p>3. По­сто­ян­но одинаковый и спокойный, уравновешенный. Ровная жизнь. Р. характер.</p>
					<p>4. Со­вер­шен­но одинаковый по величине. Ровные доли. Раз­де­лить ровно (нареч.; поровну).</p>
					</dd>
			</dl>
			<h4>(1)В боль­шин­стве со­вре­мен­ных осве­ти­тель­ных устройств преду­смот­ре­на осо­бая си­сте­ма элек­трон­но­го кон­тро­ля, она поз­во­ля­ет сбе­ре­гать до 30% элек­тро­энер­гии и де­лать свет ров­ным, не­мер­ца­ю­щим. (2)<...> осо­бен­но важно с точки зре­ния со­хра­не­ния здо­ро­вья людей. (3)Не­дав­ние ис­сле­до­ва­ния по­ка­за­ли, что мер­ца­ю­щий свет трав­ми­ру­ет ор­га­ны зре­ния.c</h4>
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
			</div>
		</section>
		<section class="task" id="last">
			<h2 class="task__question">4. В одном из при­ведённых ниже слов до­пу­ще­на ошиб­ка в по­ста­нов­ке уда­ре­ния: НЕ­ВЕР­НО вы­де­ле­на буква, обо­зна­ча­ю­щая удар­ный глас­ный звук. Вы­пи­ши­те это слово.
			<h3>диспАнсер</h3>
			<h3>мозаИчный</h3>
			<h3>чЕрпать</h3>
			<h3>прибЫв</h3>
			<h3>умЕрший</h3>
			</h2>
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
			</div>
		</section>
		<a class="results" href="javascript:void(0);" tabindex="1">	
		<div class="app-container answer-btn final_btn">
				Проверить!
		</div>
		</a>
		<div class="results-sheet">
			Ваш результат:</br></br>
			<div class="your-points">25 </div>
			из
			<div class="max-points"> 35</div>
			<table>
				<tr>
					<th>Ваш ответ</th>
					<th>Правильный ответ</th>
				</tr>
				<tr>
					<td>1</td>
					<td>1 <a class="table-a" href="answers_and_feedback.html#1">Посмотреть решение</a></td>
				</tr>
				<tr>
					<td>2</td>
					<td>3  <a class="table-a wrong" href="answers_and_feedback.html#2">Посмотреть решение</a></td>
				</tr>
			</table>
		</div>
	</main>	
</body>
</html>