/**
 * Base styles
 */

body {
	font-family: -apple-system, BlinkMacSystemFont, 
		"Segoe UI", "Roboto", "Oxygen", 
		"Ubuntu", "Cantarell", "Fira Sans", 
		"Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	background: #dee2e6;
}

.centered {
	max-width: 800px;
	margin: 0 auto;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/**
 * Header styles
 */
.header {
	padding: 10px 15px;
	color: #fff;
	background: #3caa3c;
}

.header__project-title {
	display: inline;
}

.header__about-project {
	margin-top: 2px;
	float: right;
}

/**
 * Jumbotron styles
 */
.jumbotron {
	background: #90e490;
	/*background: #79d883;*/
	text-align: center;
	color: #fff;
	padding: 10px 20px 80px 20px;
}

.jumbotron h1 {
	font-weight: 500;
}

@media (max-width: 550px) {
	.jumbotron h1 {
		font-size: 1.5em;
	}
}

/**
 * Main section styles
 */
.app-container {
	background: #fff;
	margin-top: -70px;
	padding: 30px 20px;
}

.app-container h2 {
	margin-left: 10px;
	font-size: 1.7em;
	font-weight: normal;
}

.app-container .hint {
	color: #888;
	line-height: 1.4em;
	font-size: 17px;
	margin: 10px;
}

/**
 * Ready variants
 */
.ready-variants {
	margin: 20px 0 70px;
}

.ready-variants__variant {
	padding: 20px 0;
	font-size: 1.3rem;
	text-align: center;
	display: inline-block;
	margin: 10px;
	width: calc(33.33% - 2 * 12px);
	background: #3caa3c;
	color: white;
	transition: all 0.5s ease;
	cursor: pointer;
}
.ready-variants__variant:hover {
	background: #29791B;
}
.ready-variants__variant:active {
	background: #3caa3c; 
}
@media (max-width: 800px) {
	.ready-variants__variant {
		width: calc(49.99% - 2 * 12px);
	}
}

@media (max-width: 550px) {
	.ready-variants__variant {
		width: 100%;
		margin: 10px 0;
	}
}

/**
 * Variants-generator
 */
.tasks-container {
	border-color: #868e96;
	border-width: 1px;
	border-style: solid;	
}
.variants-generator__task {
	display: flex;
}
.variants-generator__task:not(:last-of-type) {
	border-bottom-color: #868e96;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.variants-generator__task__title {
	margin: 7px;
	box-sizing: border-box;
	font-size: 1.25em;
	padding: 5px 10px;
	flex: 1;
}
.variants-generator__task__controller {
	box-sizing: border-box;
	padding: 10px 25px;
	/*background: #dee2e6;*/
	flex: 0 0 170px;
}
.variants-generator__task__controller__count {
	font-size: 1.3em;
	font-weight: bold;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.variants-generator__task__controller__dec,
.variants-generator__task__controller__inc {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
/*	width: 24px;
	height: 24px;*/
}

@media (max-width: 550px) {
	.variants-generator__task {
		display: block;
	}
}