<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>STATIC TEST</title>
	<link rel="stylesheet" href="css/styles_for_test.css">
</head>
<body>
	<header class="header">
		<div class="centered">
			<a href="about.html" class="header_enter">войти</a>
			<h3 class="header__project-title">DOGES PASS EXAMS</h3>
		</div>
	</header>
	<div class="jumbotron">
		<h1>ВАРИАНТ 1</h1>
	</div>
	<main class="app-container centered">
		<section class="task">
			<h2 class="task__question">1. В школе есть пятиместные туристические палатки. Какое наименьшее число палаток нужно взять в поход, в котором участвует 28 человек?</h2>
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
				<div class="clear"></div>
			</div>
		</section>
		<section class="task">
			<h2 class="task__question">2. На рисунке 25 показано изменение температуры воздуха на протяжении трёх суток. По горизонтали указывается дата и время, по вертикали — значение температуры в градусах Цельсия. Определите по рисунку наибольшую температуру 6 августа после 6:00. Ответ дайте в градусах Цельсия</h2>
			<img src="test1.png" alt="">
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
			</div>
		</section>
		<section class="task">
			<h2 class="task__question">3. Найдите площадь ромба, изображённого на клетчатой бумаге с размером клетки 1 см х 1 см. Ответ дайте в квадратных сантиметрах.</h2>
			<img src="test2.png" alt="">
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
			</div>
		</section>
		<section class="task" id="last">
			<h2 class="task__question">4. В папке у Димы Гущина лежат четыре пронумерованных цифрами 1, 2, 3, 4 файла с документами, а также заявление на отпуск. Доставая заявление на отпуск, Дмитрий Дмитриевич случайно вытащил и файл с документами. Найдите вероятность того, что он достал файл 3.</h2>
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
			</div>
		</section>
		<a class="results" href="javascript:void(0);" tabindex="1">	
		<div class="app-container answer-btn final_btn">
				Проверить!
		</div>
		</a>
		<div class="results-sheet">
			Ваш результат:</br></br>
			<div class="your-points">25 </div>
			из
			<div class="max-points"> 35</div>
			<table>
				<tr>
					<th>Ваш ответ</th>
					<th>Правильный ответ</th>
				</tr>
				<tr>
					<td>1</td>
					<td>1 <a class="table-a" href="">Посмотреть решение</a></td>
				</tr>
				<tr>
					<td>2</td>
					<td>3  <a class="table-a wrong" href="">Посмотреть решение</a></td>
				</tr>
			</table>
		</div>
	</main>	
</body>
</html>