{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PROJECT TITLE</title>
	<link rel="stylesheet" type="text/css" href="{% static 'testsystem/css/style.css' %}" />
</head>
<body>
	<header class="header">
		<div class="centered">
			<a href="about.html" class="header__about-project">О ПРОЕКТЕ</a>
			<h3 class="header__project-title">PROJECT TITLE</h3>
		</div>
	</header>
	<div class="jumbotron jumbotron-without-text">
		
	</div>
	<main class="app-container centered">
		<section class="task">
			<h2 class="task__question">1. В школе есть пятиместные туристические палатки. Какое наименьшее число палаток нужно взять в поход, в котором участвует 28 человек?</h2>
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
			</div>
		</section>
		<section class="task">
			<h2 class="task__question">2. На рисунке 25 показано изменение температуры воздуха на протяжении трёх суток. По горизонтали указывается дата и время, по вертикали — значение температуры в градусах Цельсия. Определите по рисунку наибольшую температуру 6 августа после 6:00. Ответ дайте в градусах Цельсия</h2>
			<img src="{% static 'testsystem/img/test1.png' %}" alt="">
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
			</div>
		</section>
		<section class="task">
			<h2 class="task__question">3. Найдите площадь ромба, изображённого на клетчатой бумаге с размером клетки 1 см х 1 см. Ответ дайте в квадратных сантиметрах.</h2>
			<img src="{% static 'testsystem/img/test2.png' %}" alt="">
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
			</div>
		</section>
		<section class="task">
			<h2 class="task__question">4. В папке у Димы Гущина лежат четыре пронумерованных цифрами 1, 2, 3, 4 файла с документами, а также заявление на отпуск. Доставая заявление на отпуск, Дмитрий Дмитриевич случайно вытащил и файл с документами. Найдите вероятность того, что он достал файл 3.</h2>
			<div class="task__answer-field">
				<h2>Ответ: </h2>
				<input type="text">
			</div>
		</section>
	</main>
</body>
</html>