/*
 * Fonts
 */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/**
 * Base styles
 */

body {
	font-family: -apple-system, BlinkMacSystemFont, 
		"Segoe UI", "Roboto", "Oxygen", 
		"Ubuntu", "Cantarell", "Fira Sans", 
		"Droid Sans", "Helvetica Neue", sans-serif !important;
	margin: 0;
	background: #dee2e6;
}

.centered {
	max-width: 800px;
	margin: 0 auto;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	font-size:16px;
	text-decoration: none;
	color: inherit;
}

a:hover, a:active{
	text-decoration: none;
	color:#fff;
}

h3{
	font-size: 16px;
}

/**
 * Header styles
 */
.header {
	padding: 7px 15px;
	color: #fff;
	background: #ffd35a;
}

.header_project-title {
	display: inline;
}

.header_enter {
	float: right;
}

.header_enter:hover{
	text-decoration: underline;
}

/**
 * Jumbotron styles
 */
.lol {
	font-family: -apple-system, BlinkMacSystemFont, 
		"Segoe UI", "Roboto", "Oxygen", 
		"Ubuntu", "Cantarell", "Fira Sans", 
		"Droid Sans", "Helvetica Neue", sans-serif;
	background: #FFE59F;
	/*background: #79d883;*/
	text-align: center;
	color: #fff;
	padding: 10px 20px 80px 20px;
}

.lol h1 {
	font-weight: 500;
}

@media (max-width: 550px) {
	.lol h1 {
		font-size: 1.5em;
	}
}

/**
 * Main section styles
 */
.app-container {
	background: #fff;
	margin-top: -70px;
	padding: 30px 20px;
}

.app-container h2 {
	margin-left: 10px;
	font-size: 1.7em;
	font-weight: normal;
}

.app-container .hint {
	color: #888;
	line-height: 1.4em;
	font-size: 17px;
	margin: 10px;
}

/**
 * Ready variants
 */
.ready-variants {
	margin: 20px 0 70px;
}

.ready-variants__variant {
	padding: 20px 0;
	font-size: 1.3rem;
	text-align: center;
	display: inline-block;
	margin: 10px;
	width: calc(33.33% - 2 * 12px);
	background: #ffd35a;
	color: white;
	transition: all 0.5s ease;
	cursor: pointer;
}
.ready-variants__variant:hover, .ready-variants__variant:visited {
	background: #F1CC13;
}
.ready-variants__variant:active {
	background: #ffd35a; 
}
@media (max-width: 800px) {
	.ready-variants__variant {
		width: calc(49.99% - 2 * 12px);
	}
}

@media (max-width: 550px) {
	.ready-variants__variant {
		width: 100%;
		margin: 10px 0;
	}
}

/**
 * Variants-generator
 */
.tasks-container {
	border-color: #868e96;
	border-width: 1px;
	border-style: solid;
}
.variants-generator__task {
	display: flex;
}
.variants-generator__task:not(:last-of-type) {
	border-bottom-color: #868e96;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.variants-generator__task__title {
	margin: 7px;
	box-sizing: border-box;
	font-size: 1.25em;
	padding: 5px 10px;
	flex: 1;
}
.variants-generator__task__controller {
	box-sizing: border-box;
	padding: 10px 25px;
	/*background: #dee2e6;*/
	flex: 0 0 170px;
}

.generate-btn {
	margin: 20px auto 40px auto;
	padding: 15px 0;
	font-size: 1.3rem;
	text-align: center;
	max-width: 230px;
	background: #ffd35a;
	color: white;
	transition: all 0.5s ease;
	cursor: pointer;
}
.generate-btn:hover {
	background: #F1CC13;
}
.generate-btn:active {
	background: #ffd35a; 
}
.center{
	width: 150px;
 	margin: 5px 15px 5px;
}
@media (max-width: 550px) {
	.variants-generator__task {
		display: block;
	}
}